asgiref==3.10.0
Django==5.2.7
narwhals==2.10.2

# Compatible numpy version for Python 3.10
numpy==1.26.4

packaging==25.0

# Pandas version that supports Python 3.10 + numpy 1.26.x
pandas==2.1.4

# Plotly version compatible with Python 3.10
plotly==5.20.0

python-dateutil==2.9.0.post0
pytz==2024.1
six==1.17.0
sqlparse==0.5.3
tzdata==2024.1
